@use 'variables' as *;

@mixin mainBorderStyle($color: $color-brand, $radius: 8px) {
    border: 1px solid $color;
    border-radius: $radius;
}

@mixin onFocus() {
    &:focus-visible, 
    &:focus-within {
        @content;
    }
}

@mixin mainScrollStyle($color: $color-accent-secondary, $width: 4px) {
    &::-webkit-scrollbar {
        width: $width;
        background: $color-bg;
    }

    &::-webkit-scrollbar-thumb {
        background: $color;
    }
}
