$color-brand: #3E66FB;
$color-brand-secondary: #3E66FB40;
$color-success: #3CC13B;
$color-error: #F03738;
$color-accent: #C2C9D1;

$color-text: #000000;
$color-text-secondary: #00000080;
$color-bg: #FFFFFF;

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;